.main {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
} 

.toppart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 10px;
}

.title {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

.popoverContent {
  display: flex;
  flex-direction: column;
}
