.main {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
} 

.toppart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  padding-right: 20px;
}

.title {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

.popoverContent {
  display: flex;
  flex-direction: column;
}

.popover {
 display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 100px;
	background-color: transparent;
	color: white;
	border: 1px white solid;
	border-radius: 4px;
	transition-duration: 0.5s;
	cursor: pointer;
}

.popover:hover {
  background-color: white;
  color: rgb(179, 68, 239);
  border: none;
}

.annonce {
  max-width: 100vw;
  margin: 20px;
  font-weight: 600;
}

.span {
  color:rgb(179, 68, 239)
}

.movieContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100vw;
  margin: 15px;
}

.likedMoviesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.crossIcon {
  cursor: pointer;
}